<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PNGBuddy.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PNGBuddy.Settings>
            <setting name="IDLE_PICTURE" serializeAs="String">
                <value />
            </setting>
            <setting name="CHAT_PICTURE" serializeAs="String">
                <value />
            </setting>
            <setting name="MIC_THRESHOLD" serializeAs="String">
                <value>-30</value>
            </setting>
            <setting name="MIC_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="MUTED_GRAYSCALE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BLINK_PICTURE" serializeAs="String">
                <value />
            </setting>
            <setting name="BLINK_DURATION" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="BLINK_INTERVAL" serializeAs="String">
                <value>15000</value>
            </setting>
            <setting name="BLINK_SPEAK_PICTURE" serializeAs="String">
                <value />
            </setting>
            <setting name="SHOULD_BLINK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHOULD_BLINK_SPEAK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BACKGROUND_COLOR" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="WEBSOCKET_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="WEBSOCKET_PORT" serializeAs="String">
                <value>4455</value>
            </setting>
            <setting name="UPDATE" serializeAs="String">
                <value>True</value>
            </setting>
        </PNGBuddy.Settings>
    </userSettings>
</configuration>